<h1>
  {{title}}
</h1>
<table>
  <tr>
    <td>select</td>
    <td>Name</td>
    <td>Mother company</td>
    <td>Released year</td>
    <td>Country</td>
  </tr>
  <tr *ngFor="let phone of phoneDetail">
    <td><input type="checkbox" [(ngModel)]="phone.selected" /></td>
    <td>{{phone.name}}</td>
    <td>{{phone.company}}</td>
    <td>{{phone.year}}</td>
    <td>{{phone.Country}}</td>
  </tr>
</table>


<template ngFor let-item [ngForOf]="phoneDetail" let-i="index" >
  <template [ngIf]="item.selected">
    <div>
      {{item | json}}
    </div>
  </template>
</template>

